@mixin color($map, $key) {
  color: map-get($map, $key);
}

@mixin flex-container(
  $direction: row,
  $justify: unset,
  $align: unset,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin borderRadius($size) {
  border-radius: $size;
}
