$font-size: 1.125;
$font-family: "Outfit", sans-serif;

$primary-colors: (
  "500": hsl(215, 51%, 70%),
  "300": hsl(178, 100%, 50%),
);

$neutral-colors: (
  "700": hsl(217, 54%, 11%),
  "500": hsl(216, 50%, 16%),
  "300": hsl(215, 32%, 27%),
  "100": hsl(0, 0%, 100%),
);

$font-weights: (
  "300": 300,
  "400": 400,
  "600": 600,
);
